# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ProducerConsumerRabbitMQ.iml
# Datasource local storage ignored files
/../../../../../../:\GitKraken\DotNet-Core-Microservices-EventBus\.idea\.idea.ProducerConsumerRabbitMQ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
